.navbar-vertical.navbar-expand-md .navbar-nav .nav .nav-link {
    padding-left: 1.75rem;
    padding-top: 0.25rem;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle='collapse']:after {
    color: inherit;
}

.navbar-vertical.navbar-expand-md .navbar-nav .nav-link.active:before {
    border-left: 0px solid white;
    border-right: 0px solid #f5f5f5;
}

/*Input select2*/
.select2-container--default .select2-selection--single {
    border: 0 !important;
}

.select2 {
    box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%) !important;
    border-radius: 5px;
    padding: 9px !important;

}
.select2-selection__rendered {
    color: #8898aa !important;
}
.select2-selection__arrow {
    top: 10px !important;
}
.select2-search__field {
    border: 0;
}
